{% extends 'main.html' %}

{% block title %}
    Створити пост
{% endblock title %}

{% block body %}
    <div class="container mt-5">
        <form method="post">
            <label for="title">Назва</label>
            <input type="text" name="title" id="title" class="form-control"><br>
            <label for="text">Текст</label>
            <textarea name="text" id="text" class="form-control"></textarea><br>
            <input type="submit" class="btn btn-success" value="Опублікувати">
        </form>
{% endblock body %}
